<footer>
    <div class="container-fluid text-center px-5 py-3" >
        <div class="row thin-border position-relative px-5 py-3 justify-content-center align-items-center" style="background:url('../assets/img/studio/studio1100bg.jpeg') center/cover no-repeat;">
                                <div class="card-overlay position-absolute top-0 start-0 w-100 h-100 opacity-50"></div>

            <div class="col-md-9 ">
<h4 class="display-6 fw-bold">Ready to create something big?</h4>
<p>Book our studio to talk to our team today</p>
            </div>
            <div class="col-md-3">
<a class="yellow-btn" href="">Book Now</a>
            </div>
        </div>
        <p class="m-0 mt-2">&copy; 2026 agencyeleven100. All rights reserved.</p>
    </div>

 </footer>