.top_nav{
    position: fixed;
    z-index: 99999;
    width:100%;

    .nav_container{
        display: flex;
        justify-content: space-between;
        padding: 20px 30px 20px;
        backdrop-filter: blur(10px);
        background-color:#9d9c9c38; 
        position:relative;
        .logo img{
            width: 240px;
        }
        .menu-icon{
            cursor: pointer;            
            .icon {
                margin-top: 10px;
                position: relative;
                width: 35px;
                height: 24px;
                i{
                    display: block;
                    width: 35px;
                    height: 2px;
                    background: #fff;
                    margin: 4px 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .navbg{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index:-1;
            background-color:#9d9c9c38;      
            // opacity:0;  
        }
        @media only screen and (max-width: 767px)  {
            padding: 12px 20px 10px;;
            .logo img{
                width: 150px;
            }
            .menu-icon .icon{
                width:25px;
                i{
                    width:25px;
                    height:1px;
                }
            }
        }
    }
}
.menu-icon.cross .icon i:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
}

.menu-icon.cross .icon i:nth-child(2) {
    opacity: 0;
}

.menu-icon.cross .icon i:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}
// .hamenu{
//     display: none;
// }
.hamenu{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $black;
    display: none;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    height: 0;
    padding-top:8%;

    li {
        margin: 1rem 0;
        font-size: 4rem;
        font-weight:600;
        font-family: $customFont;
        .nm{
            font-size: 20px;
            color:$YearColor;
            margin-right:10px;
            top: -1.2em;
        }
    }
}

.sub-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 15px 0;
}
.sub-menu .sub-link {
    margin: 10px 0;
}
.link, .sub-link, .back {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

// marquee


  .marquees {
    background: #000;
    color: #eee;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 7em;
    padding: 32px 0;
    position: relative;
    overflow: hidden;
    .marquees__inner {
        -webkit-font-smoothing: antialiased;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        font-family: $customFont;
        .marquees__part {
            -ms-flex-negative: 0;
                flex-shrink: 0;
            padding: 0 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font-smooth: always;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: #fff;
            letter-spacing: 2px;
            img {
                width: 140px;
                margin-left: 20px;
                animation: rotation 8s infinite linear;
              }
          }
      }
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


//   /preloader

.ag-page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333; /* Change based on your theme */
    justify-content: center;
    align-items: center;
    z-index: 999999;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    display: none;
    .apl-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    }
    .apl-count-con{ 
        position: relative;
        z-index: 1;
        display:flex;
        justify-content: space-between;  
        width:70%; 
        border-bottom: 1px solid #fff;
        padding-bottom:20px;
        span{
        font-size:40px;
        font-family: $customFont;
        }
        img{
            width:30%;
        }
    }
    @media only screen and (max-width: 767px)  {
        .apl-count-con{
            width:85%;  
            span{
                font-size:16px;  
            }
            img{
                width:50%
            }
        }
    }
}


// search page

.search-container {
    text-align: center;
    // margin-bottom: 40px;
    #search-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        background-color:#9d9c9c38;
        backdrop-filter: blur(10px);
        padding:10px 25px;
        height: 60px;
        color:#fff;
        
        &:autofill{
            background-color:#9d9c9c38;
        }
    }
}



#client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client-in {
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: none;
    width: 200px;
    background-color: rgb(0 0 0 / 31%);
    margin-top:30px;
    img {
        max-width: 150px;
        height: auto;
        // margin-bottom: 10px;
    }
    p{
        font-size:16px;
        margin-top: -10px;
    }
    @media only screen and (max-width: 767px){
        width:120px;
        margin-top: 10px;
        img{
                max-width: 120px;
        }
        p{
            font-size: 12px;
            margin-top: -10px;  
        }
    }
}

.cList{
    position: relative;
    overflow: hidden;
    height: 80vh;
    padding: 20px 0;
    .client-cate{
        padding-left:0;
        height: 100%;
        overflow: scroll;
        li{
            padding: 15px 10px;
            border-bottom:1px solid #9d9c9c38;
            font-family: $fontPara;
            font-size:22px;
        }
    }
    @media only screen and (max-width: 767px){
        height:30vh;
        .client-cate li{
            font-size: 16px;
            padding: 10px 10px;
        }
    }
}

#client-list-2{
    padding:10px 50px ;
    @media only screen and (max-width: 767px){
        padding:10px;
    }
}

// cookies policy

.cookies-popup{
    position: fixed;
    z-index: 99;
    right: 0;
    top: 90vh;
    border-radius: 6px;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px 50px;
    margin: 0 auto;  
    font-family:$fontPara;
    display: none;
    img{
        width:50px
    }
    span{
        font-size:16px;
        a{
            text-decoration: underline;
        }
    }
    span.mob{
        display: none;
    }
    span.web{
        display: block;
    }
    button{
        background: #444444;
        color: #fff;
        padding: 10px 13px;
        border: 0;
        border-radius: 6px;
    }
    @media only screen and (max-width: 767px) {
            right: 0px;
            top: 85vh;
            left: 0px;
            padding:20px 15px;
            button {
                border-radius: 25px;
                padding: 6px 8px;
                font-size: 10px;
            }
            img {
                width: 30px;
            }
            span{
                font-size:12px
            }
            span.mob{
                display: block;
            }
            span.web{
                display: none;
            }
    }
}
.content {
    .section_heading{
        span{
            font-size:3rem;
        }
    }
    .small-heading{
        font-size:1.8rem;
        margin-bottom:1.5rem;
        text-align: left;
    }
    p{
        margin-bottom:2rem;
        font-size:18px;
    }
    ul{
       
        margin-left:30px;
        li{
            list-style:decimal-leading-zero;
        }
    }
    @media only screen and (max-width: 767px) {
        .section_heading span{
            font-size:2rem;
        }
    } 
}

@media only screen and (max-width: 1440px) and (min-width:1366px){
    .hamenu{
      padding-top: 7%;
      li .nm{
        top: -1.5em;
      }
    }
    .link, .sub-link, .back {
        font-size: 1em;
    }
  }
