 <footer class="footer position-relative p-0 overflow-hidden">

  <video autoplay loop muted playsinline class="footer__video">

    <source src="/assets/img/agency/agencybts.mp4" type="video/mp4">

  </video>

 

  <div class="footer__overlay"></div>



  <div class="container position-relative z-2 ">

    <div class="row">

      <div class="footer-inner w-100">

      

        <h3>Agencyeleven100 is an Indian creative agency.</h3>

       

        

       

        <div class="socials d-flex justify-content-center align-items-end ">

          <a href="https://www.facebook.com/agencyeleven100" target="_blank" class="cursor-small">

            <i class="fa-brands fa-facebook-f"></i>
            <!-- <img src="image/icons/fb.svg" class="lazyload" alt="fb" /> -->

          </a>

          <a href="https://www.instagram.com/agencyeleven100" class="cursor-small" target="_blank">

            <i class="fa-brands fa-square-instagram"></i>

            <!-- <img src="image/icons/insta.svg" class="lazyload" alt="Instagram" /> -->

          </a>

          <a href="https://x.com/agencyeleven100" class="cursor-small" target="_blank">

            <i class="fa-brands fa-x-twitter"></i>

            <!-- <img src="image/icons/twitter.svg" class="lazyload" alt="Twitter" /> -->

          </a>

          <a href="https://vimeo.com/agencyeleven100" class="cursor-small" target="_blank">

            <i class="fa-brands fa-vimeo-v"></i>

            <!-- <img src="image/icons/vimeo.svg" class="lazyload" alt="Vimeo" /> -->

          </a>

          <a href="https://www.youtube.com/@agencyeleven100" class="cursor-small" target="_blank">

            <i class="fa-brands fa-youtube"></i>
            <!-- <img src="image/icons/youtube.svg" class="lazyload" alt="Youtube" /> -->

          </a>

        </div>

      </div>

    </div>

    <div class="copyright pb-2">

         <p>Copyright © 2026 Agencyeleven100</p>

       </div>

  </div>

</footer>