 <footer class="footer position-relative overflow-hidden">
  <video autoplay loop muted playsinline class="footer__video">
    <source src="/assets/img/agency/agencybts.mp4" type="video/mp4">
  </video>
  
  <div class="footer__overlay"></div>

  <div class="container position-relative z-2">
    <div class="row">
      <div class="footer-inner w-100">
        <img src="image/1100.svg" alt="Agencyeleven100" />
        <h2>Agencyeleven100 is an Indian AI creative agency.</h2>
        
        <div class="links d-flex flex-wrap justify-content-center">
          <a href="https://www.1100.in/" class="cursor-small text-decoration-none">home</a>
          <a href="about.html" class="cursor-small text-decoration-none">about us</a>
          <a href="services.html" class="cursor-small text-decoration-none">services</a>
          <a href="portfolio.html" class="cursor-small text-decoration-none">Portfolio</a>
          <a href="client.html" class="cursor-small text-decoration-none">clients</a>
          <a href="contact.html" class="cursor-small text-decoration-none">Contact us</a>
        </div>
        
        <div class="socials d-flex justify-content-center align-items-center mt-3">
          <a href="https://www.facebook.com/agencyeleven100" target="_blank" class="cursor-small">
            <img src="image/icons/fb.svg" class="lazyload" alt="fb" />
          </a>
          <a href="https://www.instagram.com/agencyeleven100" class="cursor-small" target="_blank">
            <img src="image/icons/insta.svg" class="lazyload" alt="Instagram" />
          </a>
          <a href="https://x.com/agencyeleven100" class="cursor-small" target="_blank">
            <img src="image/icons/twitter.svg" class="lazyload" alt="Twitter" />
          </a>
          <a href="https://vimeo.com/agencyeleven100" class="cursor-small" target="_blank">
            <img src="image/icons/vimeo.svg" class="lazyload" alt="Vimeo" />
          </a>
          <a href="https://www.youtube.com/@agencyeleven100" class="cursor-small" target="_blank">
            <img src="image/icons/youtube.svg" class="lazyload" alt="Youtube" />
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
         <p>Copyright © 2025 Agencyeleven100</p>
       </div>
  </div>
</footer>